footer.footer {
    padding: 5px 5%;
    background-color: #b51c78 !important;
    .footer-content {
        color: #fff;
        .footer-link {
            color: #fff;
            margin: 0 5px;
        }
        .footer-link.medical-world {
            font-weight: bold;
            font-size: 18px;
        }
        .footer-item {
            margin: 0 5px;
        }
        .iurco {
            .iurco-logo {
                width: auto;
                height: 20px;
                float: right;
                margin-top: 5px;
            }
        }
    }
}