@media screen and (min-width: 1024px) {
    .navbar {
        height: 88px;
        min-height: 88px;
        border-bottom: 2px solid #b73086;
        .container {
            .navbar-brand {
                .navbar-item {
                    width: 180px;
                }
            }
        }
    }
}
.navbar-item img {
    max-height: 100% !important;
    height: auto;
}